
    <div class="col-md-12 form-group animated registerForm">
        <h2 style="text-align: center;">Subscribe Now</h2>
        <input type="text" name="name" class="form-control animated" id="name" placeholder="Your Full Name"
          required>
        <br>
        <input type="email" class="form-control animated" name="email" id="email" placeholder="Your Email" required>
        <br>
        <input type="text" class="form-control animated" name="username" id="username"
          placeholder="Choose a user name" required>
        <br>
        <input type="password" class="form-control animated" name="pwd" id="pwd" placeholder="Choose a Password"
          required>
        <br>
        <input type="password" class="form-control animated" name="chkPwd" id="chkPwd" placeholder="Retype your Password"
          required>
        <br>
        <div class="text-center text-lg-start">
          <a class="btn-get-register  animated"><i class="fa-solid fa-paper-plane-top"></i> <i class="fa-solid fa-right-to-bracket"></i> Register <i class="bi bi-arrow-right-square-fill"></i> </a>
          
        </div>
      </div>
  
  