
    <div class="col-md-12 form-group animated registerForm">
        <h2 style="text-align: center;">Login Now</h2>
        
        <input type="email" class="form-control animated" name="email" id="email" placeholder="Your Email" required>
        <br>
        
        <input type="password" class="form-control animated" name="pwd" id="pwd" placeholder="Type Your Password"
          required>
        <br>
        
        <div class="text-center text-lg-start">
          <a class="btn-get-register  animated"><i class="fa-solid fa-paper-plane-top"></i> <i class="fa-solid fa-right-to-bracket"></i> Login <i class="bi bi-arrow-right-square-fill"></i> </a>
          
        </div>
      </div>
  
  